* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #ff4136;
    color: white;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px;
    list-style: none;
    margin: 0;
}

.doggies {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

.spinner {
    font-size: 50px;
    text-align: center;
    animation: 2s spin linear infinite;
    display: none;
}

.dog-img {
    display: none;
    max-height: 80vh;
    max-width: 100%;
}

.show {
    display: block;
}